fastapi
uvicorn
python-multipart
pydantic
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
python-dotenv
tiktoken
sentence-transformers
python-docx
pandas
openpyxl
streamlit
requests
